*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (prefers-color-scheme: light ) {
	:root {
        --main-color: #f3f6fd;
        --white-darck: #000000;
        --sombra-header:#00070767;
        --varrita-scrol: #d1802d;
        --varra-scrol:#9E9E9E;
    }
}
@media (prefers-color-scheme: dark) {
	:root {
        --main-color: #111827;
        --white-darck: #f8f8f8;
        --sombra-header:#03f2f267;
        --varrita-scrol: #00fafa;
        --varra-scrol:#706e6e;
    }
}
body{
    width: 100%;
    height: 100vh;
    background: var(--main-color);
    color: var(--white-darck);
    font-size: 20px;
}
body.active{
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 10px; 
    background: var(--varra-scrol);
}
body::-webkit-scrollbar-thumb {
    width: 10px; 
    background: var(--varrita-scrol);
    border-radius: 5px;
}
header {
    width: 100%;
    height: 3em;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: 0.7s;
    transition-property: height, top;
    box-shadow: var(--sombra-header) 0 0.05em 0.5em;
}
header.scrolling {
    height: 2.5em;
}
header.hide {
    top: -5.5em;
}
.fa-solid{
    cursor: pointer;
}
/*BOTON MENU*/
#abrir-cerrar { 
    visibility:hidden;
    position: absolute;
}
.toggle-button {
    display:block;
    width:30px;
    height:30px;
    border:1px solid var(--white-darck);
    position:relative;
    cursor: pointer;
}
.toggle-button:before, .toggle-button:after {
    position:absolute;
    display:block;
    content:"  ";
    width: calc(100% / 2);               
    box-sizing: border-box;
    left: calc(100% / 4);
    transition: all 0.2s ease-out;
}
.toggle-button:before {
    top: calc(100% / 4);
    height:calc(100% / 4);
    border-top:1px solid var(--white-darck);
    border-bottom:1px solid var(--white-darck);
    background-color: transparent;
}
.toggle-button:after {
    height:1px;
    background-color:var(--white-darck);
    bottom:calc(100% / 4);
}
input#abrir-cerrar:checked + .toggle-button.active:before, 
input#abrir-cerrar:checked + .toggle-button.active:after {
    top:calc(100% / 2);
    height:1px;
    border-bottom:0;
}
input#abrir-cerrar:checked + .toggle-button.active:before {
    transform: rotate(45deg); 
}
input#abrir-cerrar:checked + .toggle-button.active:after {
    transform: rotate(-45deg);
}
.cont-busqueda{
    width: 60%;
    max-width: 500px;
    height: 100%;
    display: none;
    align-items: center;
    gap: 15px;
}
.cont-busqueda #microfono{
    width: 35px;
    height: 35px;
    background: var(--sombra-header);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.busq-mb{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 0px 20px;
    background: rgb(95, 32, 158);
}
.busq-mb.active{
    display: flex;
}
.bar-busqueda {
    width: 80%;
    max-width: 400px;
    height: 35px;
    display: flex;
    gap: 10px;
    align-items: center;
    background: var(--sombra-header);
    border-radius: 0px 5px 5px 0px;
    
}
.bar-busqueda #busqueda{
    width: 100%;
    height: 35px;
    color: var(--white-darck);
    background: black;
    border: none;
}
.bar-busqueda i{
    padding-right: 10px;
}

#sol{
    display: none;
}
#luna{
    display: none;
}
#sol.active{
    display: flex;
}
#luna.active{
    display: flex;
}
.perfil{
    width: 25px;
    height: 25px;
}
.perfil img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
aside{
    width: 40%;
    max-width:270px;
    height: calc(100% - 4.7em);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
    position: fixed;
    top: 66px;
    background: rgba( 80, 227, 194, 0.4 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 5.5px );
    border-radius: 0px 10px 10px 0px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    left: -25em;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: 0.6s;
    transition-property: left;
}
aside.active{
    left: 0em;
}
aside a{
    text-decoration: none;
    color: var(--white-darck);
}
main{
    width: 100%;
    height: 500%;
    padding-top: 66px;
    display: flex;
    justify-content: center;
}




@media screen and (min-width: 550px) {
    .cont-busqueda {
        display: flex;
    }
    #btn-mb{
        display: none;
    }
    /* aside{
        width: 14em;
        height: 37em;
    } */
}