@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* @media (prefers-color-scheme: light ) {
	:root {
        --main-color: #f3f6fd;
        --white-darck: #000000;
        --sombra-header:#00070767;
        --varrita-scrol: #d1802d;
        --varra-scrol:#9E9E9E;
    }
} */
/* @media (prefers-color-scheme: dark) {
	:root {
        --main-color: #111827;
        --white-darck: #f8f8f8;
        --sombra-header:#03f2f267;
        --varrita-scrol: #00fafa;
        --varra-scrol:#706e6e;
    }
} */
:root {
    --blanco: #f3f6fd;
    --celeste1: #8CC0DE;
    --celeste2: #92B4EC;
    --magenta: #bd5ba4;
    --verde1: #CCF3EE;
    --verde2: #97C4B8;
    --palorosa: #F4BFBF;
    --melon: #FFD9C0;
    --crema: #FAF0D7;
    --celestecielo: #8CC0DE;
    --mostaza: #FFE69A;
    --amarillo: #FFD24C;
    --font-family: 'Quicksand', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background: var(--blanco);
    font-size: 1.25rem;
    font-family: var(--font-family);

    background: url(../IMAGES/JPG/017fcf69cd030435c0ae9fd1734a4d77.jpg) top fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
body.active {
    overflow: hidden;
}
body::-webkit-scrollbar {
    width: 0.625rem;
    background: var(--palorosa);
}
body::-webkit-scrollbar-thumb {
    width: 0.625rem;
    background: var(--melon);
    border-radius: 0.313rem;
}
header {
    width: 100%;
    height: 3.75rem;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.625rem;
    padding: 0rem 1.25rem;
    position: fixed;
    top: 0rem;
    left: 0rem;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: 0.7s;
    transition-property: height, top;
    z-index: 2;
}
body.active header {
    padding-right: 1.875rem;
}
header.scrolling {
    height: 3.75rem;
}
header.hide {
    top: -5.5em;
}

.barraprimaria {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fa-solid {
    cursor: pointer;
}
.logo {
    width: 9.375rem;
}
.user_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 0.625rem;
}
.user_menu i {
    height: 1.875rem;
    padding-right: 0.625rem;
    border-right: 0.063rem solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: row;
}
/*BOTON MENU*/
#abrir-cerrar {
    visibility: hidden;
    position: absolute;
}
.toggle-button {
    display: block;
    width: 1.875rem;
    height: 1.875rem;
    border: 0.063rem solid black;
    position: relative;
    cursor: pointer;
}

.toggle-button:before,
.toggle-button:after {
    position: absolute;
    display: block;
    content: "  ";
    width: calc(100% / 2);
    box-sizing: border-box;
    left: calc(100% / 4);
    transition: all 0.2s ease-out;
}

.toggle-button:before {
    top: calc(100% / 4);
    height: calc(100% / 4);
    border-top: 0.063rem solid black;
    border-bottom: 0.063rem solid black;
    background-color: transparent;
}

.toggle-button:after {
    height: 0.063rem;
    background-color: black;
    bottom: calc(100% / 4);
}

input#abrir-cerrar:checked+.toggle-button.active:before,
input#abrir-cerrar:checked+.toggle-button.active:after {
    top: calc(100% / 2);
    height: 0.063rem;
    border-bottom: 0;
}
input#abrir-cerrar:checked+.toggle-button.active:before {
    transform: rotate(45deg);
}

input#abrir-cerrar:checked+.toggle-button.active:after {
    transform: rotate(-45deg);
}
#sol {
    display: none;
}
#luna {
    display: none;
}
#sol.active {
    display: flex;
}

#luna.active {
    display: flex;
}

.perfil {
    width: 1.563rem;
    height: 1.563rem;
}

.perfil img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
aside {
    width: 55%;
    max-width: 16.875rem;
    height: 100%;
    font-size: 0.938rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem 0rem 0rem 1.875rem;
    row-gap: 4rem;
    position: fixed;
    bottom: 0;
    background: white;
    right: -25em;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: 0.6s;
    transition-property: right;
}
aside.active {
    right: 0rem;
}

body.active .cajaaside{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.575);
}

aside a {
    text-decoration: none;
    color: black;
}
.despliege {
    border-bottom: 0.063rem solid #2069A7;
    position: relative;
    cursor: pointer;
}
.despliege .menu {
    display: none;
    overflow: hidden;
    position: absolute;
    min-width: 9.375rem;
    padding: 0;
    margin: 0;
    text-align: left;
    background: white;
    padding: 1.875rem 0rem 0rem 1.25rem;
}
.despliege .menu ul {
    display: flex;
    flex-direction: column;
    row-gap: 2.188rem;
    list-style: none;
}
.despliege .menu.active {
    display: flex;
}
.despliege a {
    display: block;
    padding: 0.313rem;
}
.contactos {
    position: absolute;
    bottom: 0.938rem;
    right: 2.938rem;
    color: black;
    width: 7.5rem;
    height: 1.625rem;
    border: 0.188rem solid #2069A7;
    border-radius: 0.625rem;
    text-decoration: none;
    text-align: center;
}
.contactos:hover,
.contactos a:hover {
    background: #2069A7;
    color: white;
}
main {
    width: 100%;
    height: auto;
    padding-top: 3.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}
h1{
    font-size: 1rem;
}
.frace p{
    font-size: .8rem;
}
body.active main {
    padding-right: 0.625rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.125rem;
    overflow: hidden;
}

body.active section {
    padding-right: 0.625rem;
}


.contactos_pc {
    display: none;
    color: black;
    width: 7.5rem;
    height: 1.875rem;
    border: 0.188rem solid #2069A7;
    border-radius: 0.625rem;
    text-decoration: none;
    text-align: center;
}
.contactos_pc:hover,
.contactos a:hover {
    background: #2069A7;
    color: white;
}
.frace{
    width: 100%;
    padding: 1.5rem;
    background:#2069A7;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.slider{
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.623);
}
.slider img{
    width: 100%;
    display: none;
}
.img.active{
    display: flex;
	animation: showSlider 6s ease-in;
}
@keyframes showSlider {
	from {
		transform: scale(1.5);
	}
	80% {
		transform: scale(1.6);
	}
	to {
		transform: scale(1.7);
	}
}
.lancha{
    width: 100%;
    background-color: white;
    background-image: url(../IMAGES/Imagen2.png);
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-clip: border-box;
}
.lancha img{
    width: 100%;
}
.sobrenosotros{
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.85);
}
.sobrenosotros h3{
    padding: 1.5rem 0rem;
    color: #2069A7;
}
.sobrenosotros span{
    color:#FFD24C ;
}
.sobrenosotros p{
    color: white;
    font-size: 1rem;
}

.slider2{
    width: 100%;
    height: 260px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.623);
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url(../IMAGES/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.slider2 img{
    width: 28%;
    display: none;
}
.prev2{
    color: white;
    font-size: 1.875rem;
}
.next2{
    color: white;
    font-size: 1.875rem;
}
.img2.active{
    display: flex;
}
.seguridad{
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1.25rem;
    font-size: 1rem;
}
.seguridad .sub{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.938rem;
    column-gap: 0.938rem;
    padding: 2rem;
}
.sub div{
    width: calc(50% - 0.469rem);
    height: auto;
    border: 0.063rem solid rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sub div figure{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.sub div figure img{
    /* width: 100%; */
    height: 80%;
}
.sub div p:nth-child(3){
    width: 100%;
    height: 1.875rem;
    font-size: 0.625rem;
    border-top: 0.063rem solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



@media (min-width: 480px) {
    h1{
        font-size: 1.5rem;
    }
    .frace p{
        font-size: 1rem;
    }
}



@media screen and (min-width: 768px) {
    .cont-busqueda {
        display: flex;
    }
    #btn-mb {
        display: none;
    }
    .Boton-menu {
        display: none;
    }
    .aside {
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;
        height: 1.875rem;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background: transparent;
        border: transparent;
        box-shadow: none;
        align-items: center;
        overflow: inherit;
    }
    .despliege.menu {
        border: 0.063rem solid red;
        position: absolute;
        top: 0;
    }
    .contactos {
        display: none;
    }
    .contactos_pc {
        display: block;
    }
    h1{
        font-size: 2rem;
    }
    .frace p{
        font-size: 1.5rem;
    }
    body.active .cajaaside{
        position: absolute;
        top: 0%;
        right: 0%;
        width: 0%;
        height: 0vh;
        background: rgba(0, 0, 0, 0);
    }
}
.ppt div {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-image: url(https://como.help/uploads/2019/2/pexels-photo-1020315_large.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.ppt p {
    width: 50%;
    height: auto;
    color: white;
}
.ppt img {
    width: 40%;
}




@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
  --card-width: 200px;
  --card-height: 300px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}

.aside2 {
  width: 100%;
  height: 65vh;
  background: transparent;
  overflow: hidden;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  filter: blur(0px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}
.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.8;
}
.app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
}
.app__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}
.app__bg__image.previous--image, .app__bg__image.next--image {
  opacity: 0;
}
.app__bg__image.previous--image {
  --image-translate-offset: -25%;
}
.app__bg__image.next--image {
  --image-translate-offset: 25%;
}

.cardList {
  /* position: absolute; */
  width: calc(3 * var(--card-width));
  height: auto;
  
}
.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  
}
.cardList__btn i{
  color: white;
  font-size: 33px;
}
.cardList__btn.btn--left {
  left: 5%;
}
.cardList__btn.btn--right {
  right: 5%;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}
.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
}
.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}
.card.previous--card, .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}



@media only screen and (min-width: 800px) {
  :root {
    --card-width: 250px;
    --card-height: 400px;
  }
}

