@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');
:root{
    --font-p: 'Arima', cursive;
}
* {
    font-family: var(--font-p);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/agencia.jpg);
    background-repeat: no-repeat;
    background-position: 40%;
    background-size: cover;
    backdrop-filter: grayscale(1) blur(0.19rem);
    color: #2069A7;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signup{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.63rem 3.25rem 0 rgb(0 0 0);
    border-radius: 0.63rem;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}
.desktop-img{
    width: 100%;
    height: 100%;
    background-image: url(../img/agencia.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    display: none;
}
.signup .mobill {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    padding-bottom: 1.25rem;
    overflow: hidden;
}
.mobile-img{
    width: 100%;
}
.mobile-img img{
    width: 100%;
}
span.retroceder {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    font-size: 1.2rem;
}
.fa-arrow-left{
    width: 2.5rem;
    height: 2.5rem;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.1rem solid black;
    cursor: pointer;
}
form{
    width: 90%;
    /* para evitar problema con el teclado del mobil */
    height: 10000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 3rem 0.5rem 2rem 0rem;
    row-gap: 2.5rem;
    /* --------- */
    overflow:auto;
    /* ---------- */
}
form::-webkit-scrollbar {
    width: 0.5rem;
}
form::-webkit-scrollbar-track {
    background: rgb(116, 115, 115);
    border-radius: 1rem;
}
form::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #2069A7;
}
p{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
i{
    font-size: 2rem;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    width: 100%;
    height: 2rem;
    margin-left: 1em;
    border: transparent;
    background: transparent;
    outline:none;
    border-bottom: 0.13rem solid #2069A7;
}
.genero{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.genero .opciones{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* column-gap: 1rem; */
    justify-content: space-evenly;
    align-items: center;
}
.opciones p{
    width: auto;
    column-gap: 0.3rem;
}
input[type="submit"]{
    width: 10rem;
    background: #2069A7;
    cursor: pointer;
    border-radius: 10rem;
    color: #ffffff;
    font-size: 1.5rem;
}
.fa-eye,
.fa-eye-slash {
    font-size: 1.2rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    display: none;
}

.fa-eye.active,
.fa-eye-slash.active{
    display: flex;
}

#lg-err {
    position: absolute;
    width: 12.5rem;
    height: 3.75rem;
    background: red;
    top: 10.94rem;
    right: 0rem;
    border: 0.06rem solid white;
    display: flex;    
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    .signup{
        width: 85%;
        flex-direction: row;
    }
    .mobile-img{
        display: none;
    }
    .desktop-img{
        display: flex;
    }
    .signup .mobill{
        padding: 1rem 1.25rem 1.88rem 1.25rem ;
    }
    span{
        margin-bottom: 1.25rem;
    }
}