

:root {
    --font-p: 'Arima', cursive;
    --yellow: #feda00;
    --blue: #2069A7;
    --black: black;
    --griss: #434040;
    --white: #fff;
    --light-color: #666;
    --text-testimonial: #878c9f;
    --text-name: #7d93b2;
}

* {
    font-family: var(--font-p);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body{
    width: 100%;
    height: 100vh;
    font-size: 1.6rem;
    color: var(--blue);
}
section{
    width: 100%;
    height: 100%;
}
.titulo{
    width: 100%;
    height: 10%;
    background: var(--blue);
    color: var(--white);
    text-align: center;
    position: relative;
}
.titulo .btn-menu{
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
}
.btn-menu i{
    display: none;
}
.btn-menu i.active{
    display: flex;
}
.contenedor{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.contenedor aside{
    width: 35%;
    max-width: 20rem;
    height: 100%;
    background: var(--white);
    position: absolute;
    left: -30rem;
    transition: .3s linear;
    z-index: 1;
}
.contenedor.active aside{
    left: 0rem;
    transition: .3s linear;
}
.contenedor div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(71, 71, 71, 0.205);
    left: -500rem;
    /* transition: .3s linear; */
    top: 0rem;
}
.contenedor.active div {
    left: 0rem;
    /* transition: .3s linear; */
    top: 0rem;
}
aside.menu ul{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    margin-left: 8%;
}
aside.menu ul li{
    width: fit-content;
    padding: 0.4rem;
    border-radius: 0rem 1.4rem 0rem 0rem;
    cursor: pointer;
    border-bottom: 0.2rem solid var(--blue);
}
aside.menu ul li a{
    color: var(--blue);
}
aside.menu ul li a:hover,
aside.menu ul li.active a:hover{
    color: var(--white);
}
aside.menu ul li:hover,
aside.menu ul li.active{
    background: var(--blue);
    color: var(--white);
}
main{
    width: 100%;
    height: 100%;
}
.contenedor.active main{
    background-color: rgba(128, 128, 128, 0.507);
}

main section{
    width: 100%;
    height: inherit;
    /* height: auto; */
    padding: 0rem 1.5rem;
    overflow: auto;
    display: none;
}
main section.active{
    display: flex;
}

table{
    min-width: 90rem;
    max-width: 110rem;
    border-collapse: collapse;
    margin: auto;
    margin-top: 3rem;
    box-shadow: 0rem 0rem 1rem 0.9rem rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    text-align: center;
}
thead{
    height: 3rem;
    border-top: 0.1rem solid #C1C3D1;
    border-bottom: 0.4rem solid #C1C3D1;
}

tbody tr{
    border-top: 0.1rem solid #C1C3D1;
}
th{
    height: 10%;
    color: #D5DDE5;
    background: #1b1e24;
    border-right: 0.1rem solid #343a45;
}
td{
    background: #FFFFFF;
    padding: 0.6rem;
    border-right: 0.1rem solid #C1C3D1;
}
td.id{
    width: 5rem;
}
td.fecha,
td.aprobado{
    width: 7.5rem;
}












